<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/headers.ejs %>
<!--     <nav class="navbar navbar-inverse navbar-static-top">     
      <ul class="nav nav-pills">
      	<h1 style="color:blue;margin-left:30px;">Node Js Tutorial</h1>
      </ul>
    </nav> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Hello World!</h3>
      </div>
    </div>

  </body>
</html>
