<nav class="navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
  <div class="container">
  <ul class="nav nav-tabs">
      <li role="Home" ><a href="/">Home</a></li>
      <li role="about"><a href="/about">About</a></li>
      <li role="Examples"><a href="/examples">Examples</a></li>
      <p class="navbar-text navbar-right" style="margin-right:30px;">Signed in as <a href="#" class="navbar-link">Ankit Jain</a></p>
    </ul>
  </div>    
    <div>
</nav>


